extends layout

block content
  h1= title
  p Challenging young minds to challenge the world!
  p Enter your name to get started:
  form(method="post")
    br
    input(
    type='text'
    name='username'
    value=''
    )
    br
    input(
    type='submit'
    value='submit'
    )
