extends layout

block content
    h1= title
    p Here is the first problem #{name}
    term1=firstTerm
    op= operator
    term2= secondTerm
    br
    form(method="post")
        input(
        type='text'
        name='username'
        value=' '
        )
        input(
        type='submit'
        value='submit'
        )
